#cartdiv{
    text-align: center;
}
#empitycartbtn{
    width:"250px";
    height:"100px";
    margin:"auto";
    display: "block";
}
#carthead{
    height: 50px;
    width: 70%;
    background-color: rgb(230, 230, 214);
    
}
#productdiv{
    display: inline-block;
    height: 100%;
    width: 35%;
    margin-left: -300px;
    padding-right: 50px;
    text-align: center;


}  
#pricediv{
    display: inline-block;
    height: 100%;
    width: 20%;
    padding-left: 50px;

    
} 
#amountdiv{
    display: inline-block;
    height: 100%;
    width: 20%;
} 
#totaldiv{
    display: inline-block;
    height: 100%;
    width: 20%;
    margin-right: -250px;

} 
.cartcarddiv{
    width: 70%;
    height: 200px;
    border: 1px solid black ;
    margin-block: 3px;
    text-align: center;
    
}
.cartcardimg{
    height: 150px;
    width: 150px;
    margin-left: -700px;
    margin-top: 25px;
}
.cartcardtitle{
    display: inline-block;
    margin-left: 30px ;
    margin-top: 30px ;
    position: absolute;
}
.categ{
    display: inline-block;
    margin-left: 30px ;
    margin-top: 60px ;
    position: absolute;
}
.quantity{
    display: inline-block;
    margin-left: 30px ;
    margin-top: 150px ;
    position: absolute;
}
.price{
    display: inline-block;
    margin-left: 250px ;
    margin-top: 80px ;
    position: absolute;
}
.totalprice{
    display: inline-block;
    margin-left: 610px ;
    margin-top: 80px ;
    position: absolute;
}
.counterinput{
    display: inline-block;
    margin-left: 410px ;
    margin-top: 80px ;
    position: absolute;
    width: 100px;
    text-align: center;
}
#sidediv{
    display: inline-block;
    background-color: rgb(252, 248, 248);
    height: 500px;
    width: 25%;
    display: inline-block;
    position: absolute;
    margin-left: 270px;
    margin-top: -50px;

}
#governorate{
    width: 90%;
    height: 30px;
}
#city{
    width: 40%;
    height: 30px;
    margin-top: 20px;
    margin-right: 160px;
    display: inline-block;

}
#post{
    width: 40%;
    height: 25px;
    margin-top: 20px;
    text-align: center;
    margin-left: -140px;
    display: inline-block;
    position: absolute;

}
.remove{
    display: inline-block;
    margin-left: 130px ;
    margin-top: 20px ;
    position: absolute;
}
#Subtotal{
    display: inline-block;
    margin-top: 20px;
    margin-right: 230px;
}

  
 