
#foot{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    
    left:39%;
    bottom: 0;
    z-index: 1000;


}



#foot .FOOTbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    border: 0px wheat solid;
    background-color: #fefbf7;
    height: 40px;
    width: 40px;
    margin: 40px;
    
}

  

      
      #b1 ,
      #b2,
      #b3{
          display: flex;
          
          justify-content: space-around;
            width: 15px;
          height: 5px;
          flex: 100%;
      }
      
    #searchID{
        border-radius: 30px;
        z-index: 1000;
        position: fixed;
        left: 34%;
        top: 43%;
        font-size: 20px;
        padding: 10px;
        border-color:#dddddd ;
   
        /* display: ; */
    }
    
    #footbtn2{

        position: relative;
        left: 40px;
    }
    #footbtn1{

        position: relative;
        right: 40px;
    }

   