body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef;
    margin: 0;
}

.login-container, .register-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.form-row {
    display: flex;
    gap: 10px;
}

input, select {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.half-width, select.half-width {
    width: calc(50% - 5px);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #14202E;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #14202E;
}

p {
    text-align: center;
    margin: 10px 0;
}

input:invalid, select:invalid {
    border-color: #14202E;
}

input:valid, select:valid {
    border-color: green;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-size: 16px;
}
