body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#product_fav {
    flex: 1; /* This ensures that the content area expands to fill the remaining space */
}

footer {
    background-color: #14202E;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    flex-shrink: 0; /* Keeps the footer at the bottom */
}

.social-media a,
.team a,
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.social-media a:hover,
.team a:hover,
.footer-links a:hover {
    color: #E1A140;
}

.social-media {
    margin-bottom: 20px;
}

.team {
    margin-bottom: 20px;
}

.team p {
    margin: 0;
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-copy {
    font-size: 0.8em;
    color: white;
}


.remove{
    width :300px;
    height :30px;
    background-color:#14202E;
    color:white;
    font-size:20px;
    border:0;
    border-radius: 5px;
}

.card{
    border :3px solid black ;
    box-shadow :4px 2px 1px 1px #14202E ;
    border-radius :10px ;
    background-color :white ;
    width :60%;
    display :flex;
    text-align :center;
    justify-content:center;
    margin-bottom :20px;
    margin-top :20px;
    margin-left :19%;
    padding :20px;
    transition: all .5s;

}

.card:hover{
    transform: scale(1.05);
}
#productDiv1
{
    width:50%;
  height:100%;
}
#productDiv2
{
    width:60%;
  
}